<h2>Create League</h2>
<form ng-submit="save()" novalidate name="leagueForm">

    <p>
        <label for="id_name">Name:</label>
        <input id="id_name" maxlength="255" name="name" type="text" ng-model="league.name">
        <span ng-show="errors.name">
        <ul class="errorlist">
            <li ng-repeat="error in errors.name">{{ error }}</li>
        </ul>
    </span>
    </p>

    <p>
        <label for="id_num_of_sets">Num of sets:</label>
        <input id="id_num_of_sets" min="0" name="num_of_sets" type="number" ng-model="league.num_of_sets">
        <span ng-show="errors.num_of_sets">
        <ul class="errorlist">
            <li ng-repeat="error in errors.num_of_sets">{{ error }}</li>
        </ul>
    </span>
    </p>

    <p>
        <label for="id_points_per_set">Points per set:</label>
        <input id="id_points_per_set" min="0" name="points_per_set" type="number" ng-model="league.points_per_set">
        <span ng-show="errors.points_per_set">
        <ul class="errorlist">
            <li ng-repeat="error in errors.points_per_set">{{ error }}</li>
        </ul>
    </span>
    </p>

    <p>
        <label for="id_players">Players:</label>
        <select multiple="multiple" id="id_players" name="players" ng-model="league.players"
                ng-options="item as item.name for item in availablePlayers track by item.id">
        </select> <span class="helptext"><br><i>Hold the Ctrl key to select multiple players.</i></span>
        <span ng-show="errors.players">
        <ul class="errorlist">
            <li ng-repeat="error in errors.players">{{ error }}</li>
        </ul>
    </span>
    </p>

    <button type="submit" class="button-primary">Save</button>
    <a href="/leagues">
        <button type="button">Back</button>
    </a>
</form>
