{% extends 'league/base.html' %}

{% block content %}
    {% for round, matches in rounds %}
        <h4>{{ round }}</h4>
        <table>
            <thead>
            </thead>
            <tbody>
            {% for match in matches %}
                <tr>
                    <td>{{ match.home_player }}</td>
                    <td>{{ match.away_player }}</td>
                    <td><a href="#">
                        <button type="button" class="button-primary">Edit</button>
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock content %}
