{% extends 'league/base.html' %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            <tr>
                <td>{{ item }}</td>
                <td><a href="{% url "league_player_update" pk=item.pk %}">
                    <button type="button">Edit</button>
                </a></td>
                <td><a href="{% url "league_player_delete" pk=item.pk %}">
                    <button type="button">Delete</button>
                </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url "league_player_create" %}">
        <button type="button" class="button-primary">Create Player</button>
        <a href="{% url "home" %}">
            <button type="button">Back</button>
        </a>
    </a>
{% endblock content %}
