<h2>Players</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="player in players">
        <td>{{ player.name }}</td>
        <td>
            <a href="/player/update/{{ player.id }}">
                <button type="button">Edit</button>
            </a>
            <a href="/player/delete/{{ player.id }}">
                <button type="button">Delete</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<a href="/player/create">
    <button type="button" class="button-primary">Create Player</button>
</a>
<a href="/">
    <button type="button">Back</button>
</a>
